<div id="body">
  <header>
    <img src="../assets/img/logo.png" alt="Logo" class="siteLogo" />
    <button id="homeButton" (click)="goToHomePage()">UniCursos</button>
    <nav>
      <a href="#addCourseForm">Cadastro de Cursos</a>
      <a href="#courseList">Lista de Cursos</a>
      <a href="#footer">Rodapé</a>
      <button id="lightTheme" (click)="toggleTheme()">Tema claro</button>
      <button id="darkTheme" class="darkButton" (click)="toggleTheme()">
        Tema escuro
      </button>
      <!--common buttons-->
    </nav>
  </header>
  <!--Top App Bar-->

  <main>
    <form
      [formGroup]="courseForm"
      class="container"
      id="addCourseForm"
    >
      <section class="darkRedSection">
        <h2>Cadastrar Curso:</h2>
        <section class="brightRedSection">
          <label for="CourseName">Nome do curso:</label>
          <input type="text" id="CourseName" formControlName="name" /><br />

          <label for="CourseTime">Carga horária (em horas):</label>
          <input type="number" id="CourseTime" formControlName="time" /><br />

          <label for="CourseInstructor">Nome do instrutor:</label>
          <input
            type="text"
            id="CourseInstructor"
            formControlName="instructor"
          /><br />

          <label for="CourseDate">Data de início:</label>
          <input type="date" id="CourseDate" formControlName="date" /><br />
        </section>

        <section id="CourseTeaching" class="brightRedSection">
          <p>Nível de educação do curso:</p>
          <input
            type="radio"
            id="Tecnologo"
            name="education"
            formControlName="education"
            [value]="'Tecnologo'"
          />Tecnólogo<br />
          <input
            type="radio"
            id="Profissionalizante"
            name="education"
            formControlName="education"
            [value]="'Profissionalizante'"
          />Profissionalizante<br />
          <input
            type="radio"
            id="EnsinoSuperior"
            name="education"
            formControlName="education"
            [value]="'Ensino Superior'"
          />Ensino superior<br />
        </section>

        <button type="button" (click)="addCourse()">Adicionar</button>
        <button type="button" (click)="clearForm()" id="clearButton">Limpar</button>
      </section>
    </form>

    <section *ngIf="editing" class="darkRedSection">
      <h2>Editar curso:</h2>
      <form
      [formGroup]="editForm"
      class="container"
      id="editCourseForm"
    >
      <section class="darkRedSection">
        <section class="brightRedSection">
          <label for="CourseName">Nome do curso:</label>
          <input type="text" id="CourseName" formControlName="name" /><br />

          <label for="CourseTime">Carga horária (em horas):</label>
          <input type="number" id="CourseTime" formControlName="time" /><br />

          <label for="CourseInstructor">Nome do instrutor:</label>
          <input
            type="text"
            id="CourseInstructor"
            formControlName="instructor"
          /><br />
          <!--Text Field-->

          <label for="CourseDate">Data de início:</label>
          <input type="date" id="CourseDate" formControlName="date" /><br />
          <!--Date Picker-->
        </section>

        <section id="CourseTeaching" class="brightRedSection">
          <p>Nível de educação do curso:</p>
          <input
            type="radio"
            id="Tecnologo"
            name="education"
            formControlName="education"
            [value]="'Tecnologo'"
          />Tecnólogo<br />
          <input
            type="radio"
            id="Profissionalizante"
            name="education"
            formControlName="education"
            [value]="'Profissionalizante'"
          />Profissionalizante<br />
          <input
            type="radio"
            id="EnsinoSuperior"
            name="education"
            formControlName="education"
            [value]="'Ensino Superior'"
          />Ensino superior<br />
        </section>
        <!--Radio Button-->

        <button type="button" (click)="saveChanges()">Salvar</button>
        <button type="button" (click)="cancelEditing()">Cancelar</button>
      </section>
    </form>
    </section>

    <section id="courseList" class="darkRedSection">
      <h2>Cursos:</h2>
      <section class="brightRedSection">
        <table class="courseTable">
          <thead>
            <tr>
              <th>Curso</th>
              <th>Carga horária (horas)</th>
              <th>Instrutor</th>
              <th>Data de início</th>
              <th>Nível de educação</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody *ngFor="let course of courses; index as i">
            <tr [attr.data-index]=course.id>
              <td>{{ course.name }}</td>
              <td>{{ course.time }}</td>
              <td>{{ course.instructor }}</td>
              <td>{{ course.date }}</td>
              <td>{{ course.education }}</td>
              <td>
                <button type="button" (click)="editCourse(course.id)">Editar</button
                ><button type="button" (click)="deleteCourse(course.id)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </main>

  <footer id="footer">
    <p>Matheus Eduardo dos Santos</p>
  </footer>
</div>
